// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#img-logo {
    width: 56px;
    height: 56px;
}

body {
    background-color: #f8f9fa;
}

body p, h1, h2, h3, h4, h5, h6, textarea, input, label{
    font-family: verdana;
}

.hidden {
    display: none;
}

.flex-item {
    max-width: 100%; // Allows image of any size as long as it fits inside of the window.
    max-height: 300px; // Allows image to take up at most 300 pixels, it will resize and maintain aspect ratio.
    height: auto; // Auto resize based on width.
}

// Fade-out animation for deleting posts on user home.
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.homepost-image {
    max-width: 192px;
    max-height: 192px;
}

.homepost-imagediv {
    min-width: 192px;
}

.createpanel-image {
    max-width: 256px;
    max-height: 256px;
}

.list-inline-active {
    color: black !important;
    cursor: pointer;
}

.list-inline-nonactive {
    color: #6c757d !important;
}

.list-inline-nonactive:hover {
    color: black !important;
    cursor: pointer;
}

.mw-35 {
    max-width: 35%;
}
